* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#screen {
    width: 320px;
    text-align: right;
}

#upperBlock {
    height: 12px;
}

#lowerBlock {
    height: 36spx;
}

#buttons {
    display: grid;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: repeat(6, 60px);
}

#equalBtn {
    grid-column-start: 3;
    grid-column-end: 5;
}