@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #a39274;
    min-height: 85vh;
}

h1 {
    font-family: 'Bebas Neue', cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 10vh;
    color: #a39274;
    background-color: #252523;
    font-size: 56px;
}

#screen {
    max-width: 320px;
    max-height: 120px;
    text-align: right;
    padding: 10px;
    background-color: #252523;
    font-family: 'Nova Square', cursive;
    overflow-x: scroll;
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
}

#screen::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

#upperBlock {
    height: 20px;
    padding-bottom: 40px;
    font-size: 28px;
    color: #a39274;
}

#lowerBlock {
    height: 60px;
    font-size: 42px;
    color: #dfd8c8;
}

#buttons {
    display: grid;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: repeat(5, 60px);
}

#equalBtn {
    grid-column-start: 3;
    grid-column-end: 5;
}

#clearAll {
    grid-column-start: 1;
    grid-column-end: 3;
}

button {
    font-size: 20px;
    background-color: #30302e;
    color: #ffffff;
    border: 1px solid #252523;
    border-radius: 6px;
    font-family: 'Nova Square', cursive;
}

button:hover {
    background-color: #3e3e3b;
}

p {
    font-family: 'Bebas Neue', cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #a39274;
    min-height: 5vh;
    background-color: #252523;
    font-size: 24px;
}

.numberButton {
    background-color: #3e3e3b;
}

.numberButton:hover {
    background-color: #30302e;
}

#screenAndButtons {
    border: 2px solid #252523;
    background-color: #252523;
    -webkit-box-shadow: 0px 5px 5px 5px #252523;
    box-shadow: 0px 5px 5px 5px #252523;
}

#equalBtn {
    background-color: #0f477b;
}

#equalBtn:hover {
    background-color: rgba(15, 71, 123, 70%);
}

#equalBtn:active {
    background-color: rgba(15, 71, 123, 50%);
}